[menu]
start = "id-1"
activeNode = 0
listItemClasses = "nav-item"
primaryClasses = "navbar-nav"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2
==
<nav class="navbar fixed pr-1 pl-1" id="headernavbar">
    <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        {% component 'menu' %}
    </div>


    <a href="{{'home'|page}}" class="navbar-brand" id="navbar-brand" style="background-image: url('{{ this.theme.site_logo.getPath() }}'); background-position: center; background-size: contain;"></a>

    <div id="google_translate_element"></div>

    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <script>
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>


    <div class="navbar-collapse collapse end-xs hidden-xs" id="headerNavbarNav" style="display: none;">
        {% component 'menu' %}
    </div>

</nav>
{% if page_id != 'home' %}
    {% if this.page.header_image %}
    <div class="header-image {{page_id}}">
        <div class="header-image-bar" style="background-image: url('{{this.page.header_image|media}}'); {% if page_id == 'partners' %} background-position: bottom; {% else %} background-position: center; {% endif %}">
            <div class="jumbotron">
                <h1 data-aos="fade-up" class="underline white" {% if page_id == 'partners'%}style="text-shadow: 0 0 5px black;"{% endif %}>{%if page_title%} {{page_title}} {%else%} {{site_name}} {%endif%}</h1>
            </div>
            <span class="header_caption">{{ this.page.description }}</span>
        </div>
    </div>
    {% else %}
        <div class="header-image {{page_id}}">
            <div class="header-image-bar" style="background-image: url('{{this.theme.header_image.getPath()}}'); background-position: center;">
                <div class="jumbotron">
                    <h1 data-aos="fade-up" class="underline white  {% if page_id == 'home'%}home-page-header{% endif %}">{%if page_title%} {{page_title}} {%else%} {{site_name}} {%endif%}</h1>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}