[menu]
start = "id-1"
activeNode = 0
listItemClasses = "nav-item"
primaryClasses = "navbar-nav"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2
==
<nav class="navbar fixed pr-1 pl-1" id="headernavbar">
    <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        {% component 'menu' %}
    </div>


    <a href="{{'home'|page}}" class="navbar-brand" id="navbar-brand" style="background-image: url('{{ this.theme.site_logo.getPath() }}'); background-position: center; background-size: contain;"></a>


    <div class="navbar-collapse collapse end-xs hidden-xs" id="headerNavbarNav" style="display: none;">
        {% component 'menu' %}
    </div>
<!--    <div class="search-and-social-media hidden-xs">-->
<!--        <ul class="navbar-nav">-->
<!--            <li class="nav-item social">-->
<!--                {% if this.theme.twitter_url %}-->
<!--                <a href="{{this.theme.twitter_url}}" target="_blank" class="pr p-twitter small"></a>-->
<!--                {% endif %}-->
<!--                {% if this.theme.facebook_url %}-->
<!--                <a href="{{this.theme.facebook_url}}" target="_blank" class="pr p-facebook normal"></a>-->
<!--                {% endif %}-->
<!--                {% if this.theme.linkedin_url %}-->
<!--                <a href="{{this.theme.linkedin_url}}" target="_blank" class="pr p-linkedin normal"></a>-->
<!--                {% endif %}-->
<!--                {% if this.theme.youtube_url %}-->
<!--                <a href="{{this.theme.youtube_url}}" target="_blank" class="pr p-youtube normal"></a>-->
<!--                {% endif %}-->
<!--                {% if this.theme.instagram_url %}-->
<!--                <a href="{{this.theme.instagram_url}}" target="_blank" class="pr p-instagram normal"></a>-->
<!--                {% endif %}-->
<!--                {% if this.theme.researchgate_url %}-->
<!--                <a href="{{this.theme.researchgate_url}}" target="_blank" class="pr p-researchgate normal" style="width: 64px;"></a>-->
<!--                {% endif %}-->
<!--                <a class="pr p-search middle search-btn" onclick="showSearchForm();"></a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--    <div id="search" class="search" style="display: none;">-->
<!--        <div class="container">-->
<!--            <div class="close-search" onclick="hideSearchForm();"></div>-->
<!--            <form class="input-group align-items-start" action="{{ url('search')}}" method="get">-->
<!--                <input class="form-control search_input" style="color: #000;" name="q" type="text" autocomplete="on" placeholder="Search">-->
<!--                <button class="btn btn-link pr p-search big text-grey-search-btn" type="submit"></button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
</nav>
{% if page_id != 'home' %}
    {% if this.page.header_image %}
    <div class="header-image {{page_id}}">
        <div class="header-image-bar" style="background-image: url('{{this.page.header_image.getPath()}}'); background-position: center;">
            <div class="jumbotron">
                <h1 data-aos="fade-up" class="underline white  {% if page_id == 'home'%}home-page-header{% endif %}">{%if page_title%} {{page_title}} {%else%} {{site_name}} {%endif%}</h1>
            </div>
        </div>
    </div>
    {% else %}
        <div class="header-image {{page_id}}">
            <div class="header-image-bar" style="background-image: url('{{this.theme.header_image.getPath()}}'); background-position: center;">
                <div class="jumbotron">
                    <h1 data-aos="fade-up" class="underline white  {% if page_id == 'home'%}home-page-header{% endif %}">{%if page_title%} {{page_title}} {%else%} {{site_name}} {%endif%}</h1>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
