url = "/events/:slug?|[a-zA-Z\-0-9]"
layout = "default"
title = "Events"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
header_image = "Events.png"

[calendar calendar_all]
default = "true"
limit = "null"
category = "null"
language = "en"
redirect_to_detailed_page = "false"
default_view = "dayGridMonth"

[calendar calendar_organized]
default = "true"
limit = "null"
category = 1
language = "en"
redirect_to_detailed_page = "false"
default_view = "dayGridMonth"

[calendar calendar_involved]
default = "true"
limit = "null"
category = 2
language = "en"
redirect_to_detailed_page = "false"
default_view = "dayGridMonth"

[event_galleries]

==
<?php
use Pensoft\Calendar\Models\Entry;

function onStart(){
    $this['loggedIn'] = !empty(\BackendAuth::getUser()) ? true : false;
    if($this->param('slug')){
$this['entry'] =  Entry::select(
'*',
'title',
'place',
'description',
'url',

DB::raw("to_char(\"start\", 'DD') as start_day"),
DB::raw("to_char(\"start\", 'YYYY') as start_year"),
DB::raw("to_char(\"end\", 'DD') as end_day"),
DB::raw("to_char(\"end\", 'YYYY') as end_year"),
DB::raw("to_char(\"start\", 'month') as start_month"),
DB::raw("to_char(\"end\", 'month') as end_month"),
DB::raw("
\"end\" is not null as has_end
")


)->where('slug', $this->param('slug'))->first();



\BennoThommo\Meta\Meta::set('twitter:card', 'summary');
\BennoThommo\Meta\Meta::set('twitter:title', $this['entry']['title']);
\BennoThommo\Meta\Meta::set('twitter:description', str_limit(Html::strip($this['entry']['description']), 255));
\BennoThommo\Meta\Meta::set('og:title', $this['entry']['title']);
\BennoThommo\Meta\Meta::set('og:description', str_limit(Html::strip($this['entry']['description']), 255) );
\BennoThommo\Meta\Meta::set('og:type', 'article');
\BennoThommo\Meta\Meta::set('og:url', $this->pageUrl(''));
if($this['entry']['cover_image']){
\BennoThommo\Meta\Meta::set('twitter:image', $this['entry']['cover_image']->getThumb(300, 300, ['mode' => 'crop']));

\BennoThommo\Meta\Meta::set('og:image', $this['entry']['cover_image']->getThumb(600, 314, ['mode' => 'crop']));
\BennoThommo\Meta\Meta::set('og:image:width', 600);
\BennoThommo\Meta\Meta::set('og:image:height', 314);
}

}
$this['page_url'] = $this->pageUrl('');
$this['entries'] = Entry::where('end', '>=', 'now()')->orderBy('start', 'asc')->paginate(20);

$this['slug'] = $this->param('slug');
}
?>
==
{% if not slug %}
<div class="container">
    <div class="tabs">
        <a class="" href="#listView">List view</a>
        <a class="" href="#calendarView">Calendar view</a>

    </div>
</div>
<!--tabs content	-->
<div class="container-fluid">
    <div class="container">

        <div class="row" id="listView">
        {% if entries.count %}
            <div class="events_list_container">
                {% for entry in entries %}
                {% set url = entry.url ?  entry.url : '/events/' ~ entry.slug %}

                <div class="row entry_item middle-xs">
                    <div class="date_container">
                        <span class="date_day">{{entry.start|date("d")}}</span>
                        <span class="date_month">{{entry.start|date("M")}}</span>
                        <span class="date_year">{{entry.start|date("Y")}}</span>
                    </div>
                    <div class="row" style="margin-top: 40px;">
                        {% if entry.cover_image %}

                        <div class="col-md-2 col-xs-12">

                            <img class="content" src="{{ entry.cover_image|crop_image|resize(324, auto, { mode: 'crop' }) }}" style="border-radius: 20px;"/>
                        </div>

                        {% endif %}
                        <div class="col-md col-xs-12">
                            <div class="row middle-xs">
                                <div class="col-md-12 col-xs-12 content_text">
                                    <span class="date_week mb-1">{{entry.title|raw}}</span>
                                    {{ entry.description|length > 200 ? entry.description|striptags|slice(0, 200) ~ '...' : entry.description|raw  }}
                                </div>
                                <div class="col-md-12 col-xs-12 start-md center-xs">
                                    <a href="{{'events'|page}}/{{entry.slug}}" class="read_more">Read more <i></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if loggedIn %}
                    <p><a class="edit-link" href="/admin/pensoft/calendar/entries/update/{{entry.id}}" target="_blank">Edit</a></p>
                    {% endif %}
                </div>

                {% endfor %}
            </div>

            {% if entries.count > 20 %}
            <div class="row container">
                {{ entries.fragment('listView').render|raw }}
            </div>
            {% endif %}

            {% else %}
            Our upcoming events will be shared as we embark on our journey. In the meantime, explore our website, learn more about our mission, and follow us on social media to stay updated with the latest news.
            Together, we can make a significant difference in the world of ecological restoration, one event at a time.
            <br><span style='font-size:20px;'>&#127807;</span> Stay Green, Stay Connected, Stay Tuned! <span style='font-size:20px;'>&#127757;</span> <span style='font-size:20px;'>&#128154;</span>
            {% endif %}


        </div>
        <div class="row" id="calendarView">
            <div class="subtabs">
                <ul>
                    <li><a href="#all">All events</a></li>
                    <li><a href="#organized">ТЕАМ#UP organized</a></li>
                    <li><a href="#involved">ТЕАМ#UP involved</a></li>
                </ul>
                <div id="all" class="subtabContent">
                    {% component 'calendar_all' %}
                </div>
                <div id="organized" class="subtabContent">
                    {% component 'calendar_organized' %}
                </div>
                <div id="involved" class="subtabContent">
                    {% component 'calendar_involved' %}
                </div>
            </div>

        </div>

    </div>

</div>


{% else %}

{% if entry %}
<div class="container">
    <div class="row single-news-item">
        {% if entry.cover_image %}

        <div class="col-md col-xs-12">
            <img class="content" src="{{ entry.cover_image|crop_image|resize(623, auto, { mode: 'crop' }) }}" />
        </div>

        {% endif %}

        <div class="col-md col-xs-12">
            <div class="news-title">
                <h1 class="single-new-title">{{entry.title}}</h1>
            </div>
            <div class="text-published2">{% if entry.start|date("d M Y") != entry.end|date("d M Y") %}{{entry.start|date("d M Y")}} - {{entry.end|date("d M Y")}} {% else %} {{entry.start|date("d M Y")}} {% endif %}</div>
            <div class="text-place">{{entry.place}}</div>

        </div>
        <div class="col-xs-12 mt-2">
            <div class="content">
                {{entry.description|raw}}
            </div>
        </div>
        <div class="container-fluid">
            <div class="image-gallery">
                {% component 'event_galleries' %}
            </div>
        </div>

        <div class="col-xs-12">
            {% if entry.url %}
            <br><br><a href="{{entry.url}}" class="read_more" target="_blank">Go to event website</a>
            {% endif %}


            <br><br>
            <a  class="btn btn-primary" target="_blank"
                href="https://calendar.google.com/calendar/render?action=TEMPLATE&text={{entry.title}}&details={{entry.description|escape|striptags('<br><strong><b><em><i>')|raw}}&dates={% if entry.start|date("Ymd") != entry.end|date("Ymd") %}{{entry.start|date("Ymd")}}/{{entry.end|date("Ymd")}} {% else %} {{entry.start|date("Ymd")}} {% endif %}&location={{entry.place}}">
            Add to my calendar</a>

            <div class="row share_container middle-xs">
                <div class="col-lg-1 col-xs-2 start-xs">Share</div>
                <div class="col-xs-10">
                    <a href="http://twitter.com/share?text={{entry.title}}&url={{page_url}}" target="_blank" class="btn p-primary pr p-twitter medium"></a>

                    <!--<a href="https://www.facebook.com/sharer/sharer.php?u={{page_url}}&amp;src=sdkpreparse" target="_blank" class="btn pr p-primary p-facebook medium"></a>-->

                    <a href="https://www.linkedin.com/sharing/share-offsite/?url={{page_url}}" target="_blank" class="btn pr p-primary p-linkedin medium"></a>


                </div>
            </div>
        </div>
    </div>
    {% if loggedIn %}
    <p><a class="edit-link" href="/admin/pensoft/calendar/entries/update/{{entry.id}}" target="_blank">Edit</a></p>
    {% endif %}
</div>

{% endif %}

{% endif %}

<script>
    // Object to keep track of the current slide index for each gallery
    var slideIndex = {};

    // Function to initialize the slide index for all galleries
    function initGalleries() {
        $('.gallery_container').each(function() {
            var id = this.id.split('_')[1];
            slideIndex[id] = 1;
            showSlides(1, id); // Show the first slide for each gallery
        });
    }

    // Function to increment/decrement the current slide index and display the slide
    function plusSlides(n, galleryId) {
        showSlides(slideIndex[galleryId] += n, galleryId);
    }

    // Function to display the current slide based on the thumbnail clicked
    function currentSlide(n, galleryId) {
        showSlides(slideIndex[galleryId] = n, galleryId);
    }

    // Main function to display slides
    function showSlides(n, galleryId) {
        var i;
        var gallery = $("#gallery_" + galleryId);
        var slides = gallery.find(".mySlides_" + galleryId);
        var dots = gallery.find(".demo_" + galleryId);
        var captionText = gallery.find("#caption_" + galleryId);

        if (n > slides.length) { slideIndex[galleryId] = 1 }
        if (n < 1) { slideIndex[galleryId] = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex[galleryId]-1].style.display = "block";
        dots[slideIndex[galleryId]-1].className += " active";
        captionText.html(dots[slideIndex[galleryId]-1].alt);
    }

    // Initialize galleries when the document is ready
    $(document).ready(function() {
        initGalleries();
    });
</script>
