url = "/partners"
layout = "default"
title = "Partners"
is_hidden = 0
meta_title = "Test title"
meta_description = "Test description"
robot_index = "index"
robot_follow = "follow"
header_image = "/Partners.png"
seo_keywords = "test, keyword, test1"

[jumbotron consortium]
jumbotron = "partners-intro"
title = 0
background = "transperant"
templates = "template1"
description_limit = 0
==
<?php
use Pensoft\Partners\Models\Partners;
use Pensoft\Cardprofiles\Models\Profiles;
use Rainlab\Location\Models\Country;

function onStart(){
    $this['loggedIn'] = !empty(\BackendAuth::getUser()) ? true : false;
	$this['partners'] =  Partners::where('type', 1)->get();
    $this['countries'] =  Country::where('is_enabled', true)->get();

    $this['insider_members'] = new class {
        public function getIM($id) {
            return Profiles::where('partner_id', $id)->where('category_id',  2)->get();
        }
    };

}
?>
==
<div class="container">
        <div class="consortium center-xs">
            {% component 'consortium' %}
        </div>

        <div class="partners_list">
            {% for partner in partners %}
            <div class="col-xs-12 partner-item">
                {% if loggedIn %}
                <p><a class="edit-link" href="/admin/pensoft/partners/partners/update/{{partner.id}}" target="_blank">Edit</a></p>
                {% endif %}
                <div class="row">
                    <div class="col-xs-12 col-md-2 start-md center-xs partner_cover"><img src="{{partner.cover.thumb(197, auto, {mode: 'crop'})}}"></div>
                    <div class="col-xs-12 col-md-7 start-md center-xs partner_title">{{partner.instituion}}</div>
                    <div class="col-xs-12 col-md-3 end-md start-xs partner_link"><a href="{{partner.instituion_url}}" class="btn btn-primary" target="_blank">Visit website</a></div>
                    <div class="col-xs-12 partner_description">{{partner.content|raw}}</div>
                </div>
                {% if insider_members.getIM(partner.id).count > 0 %}
                <div class="partners-insider">
                    <div class="row middle-xs label_members">
                        Members
                    </div>
                    <div class="row top-xs members_container">
                        {% for profile in insider_members.getIM(partner.id) %}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="contact_info row">
                                <div class="col-md-5 col-xs-12 coordinator_image">
                                    {% if profile.avatar %}
                                    <!--<img alt="{{ profile.names }}" src="{{profile.avatar.thumb(122,111,{'mode':'crop'})}}">-->
                                    <img alt="{{ profile.names }}" src="{{profile.avatar.path}}">
                                    {% else %}
                                    <img alt="{{ profile.names }}" src="{{ 'avatar.svg'|media }}" width="130" height="111" class="no-image">
                                    {% endif %}
                                </div>
                                <div class="col-md-7 col-xs-12 coordinator_info">
                                    <h3>{{ profile.names }}</h3>
                                    <div class="body">{{ profile.position }}</div>
                                </div>
                            </div>
                        </div>
                        {% if loggedIn %}
                        <p><a class="edit-link" href="/admin/pensoft/cardprofiles/profiles/update/{{partner.id}}" target="_blank">Edit</a></p>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <p class="read-more"><a href="" class="plus"></a></p>
                {% endif %}
            </div>

            {% endfor %}
        </div>


        <span class="tooltiptext" id="tooltip">Bulgaria</span>
        <div class="container partners-map-container">
            <div id="mycomponentpartners" class="row">

                {% component 'PartnersPage' %}
            </div>
        </div>



    </div>